
.letra{
    font-family: 'Times New Roman', Times, serif;   
    color: black;
}
.letras{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.letra1{
    font-weight: 200;
    font-size: larger;
    font-family: fantasy;
    color: blue;
}

*{
    margin: 0;
}
body{
    background-color: mediumseagreen;
}

input:valid{
background-color: greenyellow;

}
input:invalid{
    background-color: red;
}
h1:hover{
    font-weight: solid;
}

p:hover{
    font-weight: solid;
}