*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;  
    align-items: center; 
   }
.box{
    width: 300px;
    height: 300px;
    padding: 50px   ;
    background: #191919;
    
    text-align: center;
}
.titulo{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],
.box button[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    padding: 8px 10px ;
    text-align: center;
    border: solid #04375d;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}